<div class="game-header">
  <div class="game-title">Edit Game</div>
    <div class="game-links">
    <%= link_to 'Back', games_path %>
    </div>
</div>

<div class="form">
  <%= render 'form' %>
</div>

<br><br>