<div class="header">
  <div class="title">Quizular</div>
</div>
<div class="spacer">
</div>
<div class="gameboard">
  <div class="gameblock" id="a">10</div>
  <div class="gameblock" id="b">20</div>
  <div class="gameblock" id="c">30</div>
  <div class="gameblock" id="d">40</div>
  <div class="gameblock" id="e">50</div>
  <div class="gameblock" id="f">60</div>
  <div class="gameblock" id="g">70</div>
  <div class="gameblock" id="h">80</div>
  <div class="gameblock" id="i">90</div>
</div>



<div class="teams">
  <div class="home"><%= link_to 'Back', games_path %></div>

  <div class="team" id="blue">20</div>
  <div class="team" id="red">10</div>
  <div class="team" id="yellow">30</div>

</div>
