<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p>
  <strong>Question10:</strong>
  <%= @game.question10 %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> <br>
<%= link_to 'Back', games_path %>
