<div class="header">
  <div class="title">Quizular</div>
</div>
<div class="spacer">
</div>


<!-- <div class="popup" onclick="myFunction()">Click me to toggle the popup!
  
</div> -->

<div class="gameboard">
  <div class="gameblock popup" id="aa" onclick="myFunction()">10
  <span class="popuptext" id="myPopup"><%= @game.question10 %></span>
  </div>
  <div class="gameblock" id="bb">20</div>
  <div class="gameblock" id="cc">30</div>
  <div class="gameblock" id="dd">40</div>
  <div class="gameblock" id="ee">50</div>
  <div class="gameblock" id="ff">60</div>
  <div class="gameblock" id="gg">70</div>
  <div class="gameblock" id="hh">80</div>
  <div class="gameblock" id="ii">90</div>
</div>



<div class="teams">
  <div class="home"><%= link_to 'Back', games_path %></div>

  <div class="team" id="blue">20</div>
  <div class="team" id="red">10</div>
  <div class="team" id="yellow">30</div>

</div>
